<%- include('partials/header') %>

    <h3>Welcome to <%= title %>'s Website</h3>
    <p id="index"><a href="/airline">Click Here</a> to see all available airlines.</p>

<%- include('partials/footer') %>
